In [1]:
from virtualBankAccount.repository.filerepo import FileRepository
from virtualBankAccount.repository.mongorepo import MongoRepository
from virtualBankAccount.broker import Broker

In [2]:
repo=MongoRepository(dbName="virtualBankAccount",username="root",password="example")
repo=FileRepository("accounts.json","transactions.json")

broker= Broker("stephan",repo=repo)

try:
    master=broker.createAccount("DKB_TG")
    broker.createAccount("Auto_Abschreibung",parentId=master._id)
    broker.createAccount("Auto_Reparatur",parentId=master._id)
    broker.createAccount("Kurzfristig",parentId=master._id)
except ValueError:
    print("")
    
#broker.saveAccount(broker.getAccountByName("Auto_Abschreibung").withPeriodicValue(100,1))
#broker.saveAccount(broker.getAccountByName("Auto_Reparatur").withPeriodicValue(200,1))
#broker.saveAccount(broker.getAccountByName("Kurzfristig").withPeriodicValue(-1,1))

#broker.addValue("Auto_Abschreibung",2000)
#broker.addValue("Auto_Reparatur",300)

In [10]:
#broker= Broker()
broker.transfer("DKB_TG")
#dir(broker.repo.getAccountByName("DKB_TG")

In [5]:
broker.addValue("Auto_Reparatur",200)

In [5]:
import datetime
timest=broker.getAccountByName("Auto_Abschreibung").periodical["nextDate"]
datetime.datetime.fromtimestamp(timest)

AttributeError: 'Account' object has no attribute 'periodical'

In [8]:
transaction = broker.getTransactions(n=3)[2]
broker.invertTransaction(transaction)
#.drop_database("virtualBankAccount")

In [9]:
broker.getTransactionDf()

,date,description,accounts
0,2021-02-08 00:14:44.286883,"Invert ""Transfer to Auto_Abschreibung""","Auto_Abschreibung:-2000,DKB_TG:-2000"
1,2021-02-08 00:14:21.263296,"Invert ""Transfer to Auto_Reparatur""","Auto_Reparatur:-300,DKB_TG:-300"
2,2021-02-08 00:14:06.278912,Transfer to Auto_Reparatur,"Auto_Reparatur:300,DKB_TG:300"
3,2021-02-08 00:14:06.275004,Transfer to Auto_Abschreibung,"Auto_Abschreibung:2000,DKB_TG:2000"
4,2021-02-08 00:13:54.762361,"Invert ""Invert ""Transfer to Auto_Reparatur""""","Auto_Reparatur:200,DKB_TG:200"
5,2021-02-08 00:13:52.006108,"Invert ""Transfer to Auto_Reparatur""","Auto_Reparatur:-200,DKB_TG:-200"
6,2021-02-08 00:13:49.383105,Transfer to Auto_Reparatur,"Auto_Reparatur:200,DKB_TG:200"
7,2021-02-08 00:13:47.955889,Transfer to Auto_Reparatur,"Auto_Reparatur:200,DKB_TG:200"
8,2021-02-08 00:13:31.175198,Transfer to Auto_Reparatur,"Auto_Reparatur:300,DKB_TG:300"
9,2021-02-08 00:13:31.172270,Transfer to Auto_Abschreibung,"Auto_Abschreibung:2000,DKB_TG:2000"

In [3]:
broker.getAccountsDf()

                name  lastModified  value
0             DKB_TG  1.612740e+09  12300
1  Auto_Abschreibung  1.612740e+09  10000
2     Auto_Reparatur  1.612740e+09   2100
3        Kurzfristig  1.612737e+09    200

In [12]:
broker._repo.client.drop_database("virtualBankAccount")

In [3]:
test=Account(name="TEST",value=101)

In [6]:
vars(test)["realAccount"]=1111

In [7]:
test

In [8]:
test.realAccount

1111

In [2]:
repo=FileRepository()
repo.getAccounts()

[<virtualBankAccount.model.account.Account at 0x1eab67c6ba8>,
 <virtualBankAccount.model.account.Account at 0x1eab67c6e10>]

In [10]:
repo.accounts[2].value

88

In [6]:
repo.saveAccount(account=Account(name="TE22ST2",value=88))

In [7]:
import datetime
your_timestamp = 1331856000
date = datetime.datetime.fromtimestamp(your_timestamp)
date

datetime.datetime(2012, 3, 16, 1, 0)

In [47]:
import datetime
from dateutil.relativedelta import relativedelta
today=datetime.date.today()
today=today.replace(day=1)
dt = datetime.datetime.combine(today, datetime.datetime.min.time())
dt=dt + relativedelta(months=1)
#dt.timestamp()

In [46]:
dt

datetime.datetime(2021, 4, 1, 0, 0)

In [6]:
existingAcc=repo.getAccountById("c3ea43a521144f51b9e80f72b6183945")
existingAcc.value=1
repo.saveAccount(account=existingAcc)

Update existing account

In [5]:
broker= Broker()
ta=broker.createAccount("Mein Tes22snt",parentId=ta._id)

Save new account

In [6]:
ta.name="123321"
broker.repo.saveAccount(ta)

Update existing account